/* FROM BOOTSTRAP.BUILD/app */
$enable-gradients: true;
$border-radius: 1.5rem;
$border-radius-lg: 3rem;
$border-radius-sm: 1rem;
$input-btn-padding-x: 1.7rem;
$input-btn-padding-x-sm: 1rem;
$input-btn-padding-x-lg: 1.7rem;
$body-bg: $gray-900;
$body-color: $gray-100;